*{
background-color: rgb(192, 192, 192);
}
.body-wrap{
    padding: 50px;
    margin: 50px;
    top: -50;
}
.footer{
    /* background-color: white; */
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: right;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 50px;
    background-color: white;
  }
  ion-icon{
      color: black;
      margin: 20px;
      align: right;
      background-color: white;
  }
  .header{
      background-color: white;
      color: black;
      position: fixed;
      height: 80px;
      width: 100%;
      font-size: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }