<!DOCTYPE HTML>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static home.css %}>
    <title>OpnRank::Home</title>
</head>

<body>
    <div class="header">
        <!-- This is the header -->
        <img src="../static/assets/media/images/logo.png" style="float: left">
        <ion-icon style="float: right" size="large" name="menu-outline"></ion-icon>
    </div>
    <div class="body-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam officia esse tempore debitis impedit
        doloremque nemo quidem doloribus voluptatum quasi similique tempora temporibus nesciunt sit optio odit, nostrum
        facilis maiores corporis harum unde minus labore nulla. Deserunt cumque ducimus saepe dolores, itaque dolor aut
        quos reiciendis, tenetur, fugit corrupti placeat. Nisi, laboriosam facilis incidunt ut assumenda quibusdam
        cumque quae rerum facere, dolor explicabo! Blanditiis alias tempore iste eum est! Fugiat dolore eius ipsum
        neque, esse blanditiis, incidunt voluptates sequi quia, ab adipisci qui sed! Quidem soluta quas dignissimos
        facilis eaque laudantium aut necessitatibus modi beatae porro, voluptate esse maxime perferendis.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam quidem minima modi? Quibusdam molestias
        dolorem impedit alias libero eaque magnam odio minima soluta! Illo, quidem?50
    </div>
    <div class="footer">

        <!-- <a href="https://twitter.com/ieeecsvit" target="_blank" rel="noopener noreferrer"><ion-icon name="logo-twitter"></ion-icon></a> -->
        <a href="https://www.linkedin.com/in/anuran-roy-879668176/" target="_blank" rel="noopener noreferrer">
            <ion-icon name="logo-linkedin"></ion-icon>
        </a>
        <a href="https://www.hackerrank.com/anuranroy02/" target="_blank" rel="noopener noreferrer">
            <ion-icon name="code-slash-outline"></ion-icon>
        </a>
        <a href="https://www.github.com/anuran-roy/" target="_blank" rel="noopener noreferrer">
            <ion-icon name="logo-github"></ion-icon>
        </a>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>